/* ===========================
   VacAttack
   style.css
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Inter',sans-serif;
    background:#f7f8fc;
    color:#222;
    line-height:1.6;

}

a{

    text-decoration:none;

}

header{

    width:100%;
    background:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:24px 8%;

    position:sticky;
    top:0;

    box-shadow:0 8px 30px rgba(0,0,0,.05);

    z-index:999;

}

.logo h1{

    color:#5B2EFF;
    font-size:2rem;
    font-weight:800;

}

nav{

    display:flex;
    gap:24px;
    align-items:center;

}

nav a{

    color:#444;
    font-weight:600;

}

.button{

    background:#5B2EFF;
    color:white;

    padding:12px 24px;
    border-radius:12px;

}

.hero{

    max-width:1100px;

    margin:auto;

    padding:100px 30px;

}

.tag{

    color:#5B2EFF;
    font-weight:700;

    margin-bottom:18px;

}

.hero h2{

    font-size:3.5rem;
    font-weight:800;

    max-width:700px;

    margin-bottom:24px;

}

.hero p{

    max-width:650px;

    font-size:1.15rem;

    color:#666;

}

.hero-buttons{

    display:flex;
    gap:16px;

    margin-top:40px;

}

.primary{

    background:#5B2EFF;
    color:white;

    padding:16px 28px;
    border-radius:14px;

    font-weight:600;

}

.secondary{

    background:white;
    color:#5B2EFF;

    border:2px solid #5B2EFF;

    padding:16px 28px;
    border-radius:14px;

    font-weight:600;

}

section{

    padding:90px 8%;

}

section h2{

    text-align:center;

    font-size:2.5rem;

    margin-bottom:50px;

}

.cards{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(260px,1fr));

    gap:30px;

}

.card{

    background:white;

    padding:32px;

    border-radius:20px;

    box-shadow:0 12px 30px rgba(0,0,0,.06);

    transition:.25s;

}

.card:hover{

    transform:translateY(-6px);

}

.card h3{

    color:#5B2EFF;

    margin-bottom:16px;

}

#mission{

    text-align:center;

}

#mission p{

    max-width:800px;

    margin:auto;

    font-size:1.1rem;

    color:#666;

}

#support{

    text-align:center;

}

#support p{

    max-width:760px;

    margin:30px auto;

    color:#666;

}

.coffee{

    display:inline-block;

    margin-top:20px;

    background:#5B2EFF;

    color:white;

    padding:18px 34px;

    border-radius:14px;

    font-weight:700;

}

footer{

    padding:50px;

    text-align:center;

    color:#777;

}

footer p:first-child{

    margin-bottom:10px;

}

@media(max-width:900px){

header{

    flex-direction:column;
    gap:20px;

}

nav{

    flex-wrap:wrap;
    justify-content:center;

}

.hero{

    text-align:center;

}

.hero h2{

    font-size:2.5rem;

}

.hero p{

    margin:auto;

}

.hero-buttons{

    justify-content:center;
    flex-wrap:wrap;

}

}
